
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body{
  overflow:'hidden'
}
.thumbnail {
  max-width: 35vw;
  max-height: 35vh;
}

.jerseyGrid {
  text-align: center;
}
.jersey-columns {
  border: solid 2px black;
  width: 33%;
  float: left;
  background: linear-gradient(45deg, lightskyblue, transparent);
}

.thumbnail:hover {
  transform: scale(1.25);
  border-radius: 50%;
}

.addCart:hover {
  cursor: crosshair;
  background-color: red;
  color: white;
}

.addCart {
  height: 45px;
  width: 100px;
  background: navy;
  color: white;
}

.quantity {
  height: 45px;
  width: 45px;
  background-color: lightblue;
}
.searchbar-div{
  padding: 6px;
}
.product-searchbar{
  height: 3vh;
  width: 10vw;
  font-size:2vh
}
.subtotal{
  font-weight: bold;
}
.checkout-btn{
  font-weight: bold;
}
.form-contents{
  background: rgba(0,0,0,0.5);
  margin: auto;
  width: 50%;
  padding: 10px;
  color: white;
}
.form-contents a{
  color: white;
  font-weight: bold;
}
.register-btn{
  font-weight: bold;
}
.login-btn{
  font-weight: bold;
}
