#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail {
  max-width: 35vw;
  max-height: 35vh;
}

.jerseyGrid {
  text-align: center;
}
.jersey-columns {
  border: solid 2px black;
  width: 33%;
  float: left;
  background: linear-gradient(45deg, lightskyblue, transparent);
}

.thumbnail:hover {
  transform: scale(1.25);
  border-radius: 50%;
}

.addCart:hover {
  cursor: crosshair;
  background-color: red;
  color: white;
}

.addCart {
  height: 45px;
  width: 100px;
  background: navy;
  color: white;
}

.quantity {
  height: 45px;
  width: 45px;
  background-color: lightblue;
}

.searchbar-div {
  padding: 6px;
}

.product-searchbar {
  height: 3vh;
  width: 15vw;
  font-size: 2vh;
}
.subtotal {
  font-weight: bold;
}
.checkout-btn {
  font-weight: bold;
}
.form-contents {
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
  width: 50%;
  padding: 10px;
  color: white;
}
.form-contents a {
  color: white;
  font-weight: bold;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
.register-btn {
  font-weight: bold;
}
.login-btn {
  font-weight: bold;
}

/* .carousel {
  height: 100%;
  width: 100%;
} */
/* .carousel-inner {
  background-color: lightcyan;
  height: 100%;
  width: 100%;
} */

/* .product {
  height: 345px;
  width: 363px;
  border-radius: 45%;
} */

.welcome {
  padding-top: 145px;
  font-size: xxx-large;
  text-align: center;
  /* font-weight: bold; */
  color: aquamarine;
}

.backgroundImage {
  height: 100vh;
  margin-top: 0%;
  background-size: cover;
  background-image: url("https://wallpaperaccess.com/full/2192512.jpg");
  background-repeat: "no-repeat";
}
.add-jersey:hover {
  border: 2px solid black;
  padding: 10px;
  width: 9%;
}
.add-jersey a {
  color: black;
  font-weight: bolder;
}
